*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul,li{
  margin: 0;
  padding: 0;
}

.scene{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #3751e0) fixed;
    overflow: hidden;
}

.moon{
    position: relative;
    height: 300px;
    z-index: 100;
}

.forest{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transform: scaleX(1.2);
}

.scene i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}
